@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");


.navigation {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    position: fixed;
    padding-right: 100px;
    top: 2%;
    width: 100dvh;
    height: 100dvh;
    margin: 30px 30px;
    justify-content: center;
    display: flex;
}

.logo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    position: absolute;
    top: 1.5%;
    left: 0;
    width: 100dvh;
    padding: 10px 35px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo {
    color: #fff;
    user-select: none;
    font-size: 1em;
    justify-content: left;
}

.navigation a:hover {
    color: white;
    text-decoration: none;
}

.navigation a {
    position: relative;
    font-size: 1.8em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 5px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 8px;
    font-size: 1.8em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    cursor: pointer;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: black;
    font-weight: 500;
}

.wrapper-2 {
    position: relative;
    width: 450px;
    height: 450px;
    top: -4100px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 5;
}

.wrapper-2 h2 {
    text-decoration: underline;
}

.wrapper-2.active-popup {
    transform: scale(1);
}

.wrapper-2.active {
    height: 520px;
    overflow: none;
}

.wrapper-2 .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper-2 .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper-2.active .form-box.login {
    transition: none;
    transform: translateX(-500px);
}

.wrapper-2 .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(500px);
}

.wrapper-2.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper-2 .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box {
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 4px solid white;
    margin: 30px 10px;
    text-align: center;
    align-items: center;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: white;
    font-weight: 600;
    margin: 25px 0 10px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: white;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin: 15px 10px 10px;
}

.login-register {
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 40px 20px;
}

.login-register p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 25px 10px 50px;
}

.login-register p a:hover {
    text-decoration: underline;
}

.btn:hover {
    color: white;
    background: white;
}