@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

.navigation .btnProject-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 8px;
    font-size: 1.8em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    cursor: pointer;
}

.navigation .btnProject-popup:hover {
    background: #fff;
    color: black;
    font-weight: 500;
}

.wrapper-1c {
    position: relative;
    width: 80%;
    height: 100%;
    top: -3750px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 3;
}

.wrapper-1c h2 {
    font-size: 1.6em;
    text-decoration: underline;
    margin-bottom: 50px;
}

.wrapper-1c h3 {
    font-size: 1.3em;
    text-decoration:wavy;
    margin-right: 50px;
}

.wrapper-1c li:hover{
    animation: drop .7s linear;
}

@keyframes drop {
    0% {transform: translateY(0);}
    50% {transform: translateY(10%);}
    100% {transform: translateY(0);}
}

.wrapper-1c h4 {
    font-size: 1.2em;
    text-align: center;
    color: #a1acb4;
    margin-right: 40px;
}

.wrapper-1c li {
    font-size: 1.2em;
    margin-right: 30px;
    padding: 30px;
    border-bottom-style:solid;
    border-bottom-color: rgb(189, 187, 187);
    display: flex;
    text-align: center;
    justify-content: center;
}

.wrapper-1c span {
    font-size: 1em;
    padding: 20px;
    margin: 20px;
    margin-right: 50px;
}

.wrapper-1c.project-popup {
    transform: scale(1);
}

.wrapper-1c.active {
    height: 520px;
    overflow: none;
}

.wrapper-1c .project-box {
    width: 100%;
    padding: 40px;
}

.wrapper-1c .project-box.project {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper-1c.active .project-box.project {
    transition: none;
    transform: translateX(-500px);
}

.wrapper-1c .icon-close-1c {
    position: absolute;
    top: -20px;
    right: -50px;
    width: 45px;
    height: 45px;
    background: #162938;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.project-box {
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}