@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.main-container-two {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-top: -5%;
    margin-bottom: -850px;
    font-size: 1.5em;
}
.project-card {
    margin: 20px;
    flex-wrap: 0 0 40%;
    box-shadow: gray 5px 5px 5px;
    padding: 15px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    background-color: azure;
    width: 650px;
}
.project-card iframe {
    height: 25rem;
    width: 35rem;
}
.project-card p{
    padding: 25px;
    font-size: 1.2em;
}
/* .header {
    justify-content: center;
    display: flex;
    background-color: gray;
}
.header h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-top: -50%;
    box-shadow: black 3px 3px 8px;
    background-color: azure;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    text-decoration: underline;
} */
